body, div, ul, p{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    margin: 0 20px;
    background-color: floralwhite;
    color: black;
    font-family: 'ヒラギノ角ゴ Pro W3', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    overflow: hidden;
}
.container{
    width: 100%;
    max-width: 400px;
    padding-top: 30px;
    margin: 0 auto;
    height: calc(100vh - 30px); 
    border: none;
    overflow: hidden;
}
.header{
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 30px;
}
#q .header{
    display: none;
}
.header a{
    text-decoration: none;
    color: black;
}
.header h1{
    margin: 0;
}
.middle{
    padding-top: 20px;
    width: 100%;
    height: calc(100% - 135px);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: justify;
    overflow: visible;
}
.middle1{
    display: flex;
    width: 80px;
}
.middle1 h2{
    line-height: 40px;
    text-align: center
}
.middle1> h2:first-child{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    border: black 1px solid;
}
.middle1-child{
    display: flex;
    margin-bottom: calc(10vh - 10%);
    margin-top: auto;
}
.hh{margin-top:3px;height:100%; height: 3px;background-color: floralwhite;}
.middle1-child a{
    font-size: 16px;
}
.middle2{
    width: calc(100% - 80px);
    padding-top: 20px;
    overflow: scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
}
.middle2::-webkit-scrollbar{display: none;}
.middle2> p, .middle2> div, .middle2> table{
    transform: translateX(-120px) translateX(17%);
}
#a .middle2> p:last-child, #a .middle2> div:last-child, #a .middle2> table:last-child{
    border-left: #eee 0.1px solid;
}
.bottom{
    display: block;
    text-align: right;
}
.footer{
    max-width: 720px;
    margin: auto;
}
.text-combine{/*縦中横*/
    display: inline-block;
    padding-bottom: 3px;
    text-combine-upright: all;
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
}
h1{
    font-size: 28px;
    line-height: 1.5;
}
h2{
    font-size: 24px;
    line-height: 1.2;
}
.index_table, .top_table{
    width: 100%;
    margin: auto;
    max-width: 400px;
}
.footer table{
    position: fixed;
    max-height: 70px;
    width: 90%;
    max-width: 400px;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
.top_table td{
    width: 2em;
    height: 2em;
}
.top_table td span, .footer table span, .index_table span{
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    color: floralwhite;
    font-weight: bolder;
    border: floralwhite 1px solid;
    border-radius: 2px;
}
.middle1-child span{
    display: inline-block;
    padding: 4px 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    color: floralwhite;
    font-size: 20px;
    line-height: 2;
    border-radius: 2px;
}
.top_table td span:hover, .footer table span:hover, .index_table span:hover, .middle1-child span:hover{
    background-color: blue;
}

/***下向き中カッコ***/
.tyu-kakko{
    display: table-cell;
    position: relative;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-radius: 0 0 30px 30px;
    height: 6.4px;
}
.tyu-kakko::before, .tyu-kakko::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
}
.tyu-kakko::before{
    top: 6.4px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 6.4px 6.4px 0 6.4px;
}
.tyu-kakko::after{
    top: 5.4px;
    border-style: solid;
    border-color: floralwhite transparent transparent transparent;
    border-width: 6.4px 5.4px 0 5.4px;
    z-index: 5;
}

/***上向き中カッコ***/
.tyu-kakko-ue{
    display: inline-block;
    position: relative;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-radius: 30px 30px 0 0;
    height: 6.4px;
}
.tyu-kakko-ue::before, .tyu-kakko-ue::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
}
.tyu-kakko-ue::before{
    top: -6.4px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    border-width: 0 6.4px 6.4px 6.4px;
}
.tyu-kakko-ue::after{
    top: -5.4px;
    border-style: solid;
    border-color: transparent transparent floralwhite transparent;
    border-width: 0 5.4px 6.4px 5.4px;
    z-index: 5;
}

/***〇で始まるpに適用***/
.maru{
    margin-top: 1em;
    position: relative;
}
.maru span:not(.bottom, .text-combine){
    display: block;
}
.maru span:not(.bottom)::before{
    position: absolute;
    top: -1em;
    content: "〇";
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
}

/***縦棒***//* .lenの中に.rと.lを入れる */
.len{width: 100%;height: 100%;}
.r{width: 50%;height: 100%;float: right;border-left: 0.5px solid black;}
.l{width: 50%;height: 100%;float: left;border-right: 0.5px solid black;}

/***二重丸***/
.niju-maru::after{
    content: "◎";
    font-weight: 600;
    display: inline-block; font-size: 22px;line-height: 32px;transform: translate(0, -8px);
}
.niju-maru ~ span{display: inline-block;transform: translate(0, -4px);}
