body{
    margin: 8px;
    font-family: '游明朝', sans-serif;
    font-size: 16px;
    text-align: justify;
}
div.wrap{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div.main{
    min-height: calc(100vh - 160px);
}
.flex{
    display: flex;
}
h1{
    font-size: 26px;text-align: center;
}
h2{
    font-size: 22px;text-align: center;
}
h3{
    font-size: 18px;
}
div.wrap-1, div.wrap-2{
    width: calc(100% - 40px);
    margin: 20px 10px;
    padding: 9px;
    border: 1px solid gainsboro;
    border-radius: 18px;
}

/* 上部階層やページ内の移動 */
.ue{
    display: flex;
}
.ue> div{
    margin-left: 8px;
}
.navi{
    position: fixed;
    top: 0;
    right: 8px;
}
.navi li{
    list-style: none;
}

@media screen and (min-width: 600px){
    div.wrap-flex{
        display: flex;
    }
    div.wrap-1{
        width: calc(50vw - 56px);
    }
    .navi{
        right: 56px;
    }
}
span.wl-btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2px;
}
span.wl-btn:hover{
    background-color: azure;
}

/* foot */
#purple{
    display: none;
}
label.purple{
    display: block;
    padding: 1em;
    width: calc(100% - 2em);
    margin: auto;
    background-color: purple;
}
label.purple a{
    color: #fff;
}
label.purple a:active{
    color: azure;
}
div.purple{
    width: calc(100% - 2em);
    display: none;
}
#purple:checked ~ label.purple div.purple{
    display: block;
}

/* table */
table.bd-table{
    border-collapse: collapse;
    max-width: 100%;
    margin: 0 auto;
}
table.bd-table th, table.bd-table td{
    border: 1px solid black;
}